<app-nav></app-nav>
<br><br><br>
<div class="card bg-dark text-dark" style="margin-left:20%; height:auto;">
    <div *ngFor="let p of plans">
        <div class="card-body">
Select Plan:
            th plan:
            <p> Name: {{p.name}}</p>
            <p>Storage: {{p.storage}} </p>
            <p>Time: {{p.time_duration}} </p>
            <p>Price: {{p.price}} </p>
            
            
            
            <button on-click="onformsubmit(p._id)">Upgrade</button>
    
    </div>
    </div>


</div>