<app-nav></app-nav>
<div class="cotainer-fluid">

        <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
                {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
              </button>
              <mat-horizontal-stepper [linear]="isLinear" #stepper>
                <mat-step [stepControl]="firstFormGroup">
                  <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Enter Page Name</ng-template>
                    <mat-form-field>
                      <input matFormFieldControl matInput placeholder="Page Name" formControlName="firstCtrl" required>
                    </mat-form-field>
                    <div>
                      <button mat-button matStepperNext>Next</button>
                    </div>
                  </form>
                </mat-step>
                <mat-step [stepControl]="secondFormGroup">
                  <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>Select Header</ng-template>
                    <mat-form-field>
            
            
                      <input matInput placeholder="Select Header" formControlName="secondCtrl" required>
                     
                      
                    </mat-form-field>
                    <div *ngFor="let i of headerList">
                    <div class="card bg-dark text-white"  >
                        <img src="{{i.img}}" class="card-img" (click)="headerSelected(i)" alt="...">
            
                      </div>
                      <br>
                    </div>
                         <div>
                      <button mat-button matStepperPrevious>Back</button>
                      <button mat-button matStepperNext>Next</button>
                    </div>
                  </form>
                </mat-step>
                <mat-step [stepControl]="thirdFormGroup">
                    <form [formGroup]="thirdFormGroup">
                      <ng-template matStepLabel>Content</ng-template>
                      <mat-form-field>
                        <input matInput placeholder="Content" formControlName="thirdCtrl" required>
                      </mat-form-field>
                      <div *ngFor="let i of contentList">
                          <div class="card bg-dark text-white"  >
                              <img src="{{i.img}}" class="card-img" (click)="headerSelected(i)" alt="...">
                  
                            </div>
                            <br>
                          </div>
                      <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                      </div>
                    </form>
                  </mat-step>
                  <mat-step [stepControl]="fourthFormGroup">
                    <form [formGroup]="fourthFormGroup">
                      <ng-template matStepLabel>Select Footer</ng-template>
                      <mat-form-field>
                        <input matInput placeholder="Footer" formControlName="fourthCtrl" required>
                      </mat-form-field>
                      <div *ngFor="let i of footerList">
                          <div class="card bg-dark text-white"  >
                              <img src="{{i.img}}" class="card-img" (click)="headerSelected(i)" alt="...">
                  
                            </div>
                            <br>
                          </div>
                      <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                      </div>
                    </form>
                  </mat-step>
                <mat-step>
                  <ng-template matStepLabel>Done</ng-template>
                  You are now done.
                  <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="stepper.reset()">Reset</button>
                  </div>
                </mat-step>
              </mat-horizontal-stepper>
              
</div>
