
<app-nav></app-nav>


<div style="position:absolute; top:15%; left:17%; display:inline-block; right:0px;">
    <h2 class="text-info" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; opacity: 0.80;;">
        
        Update Profile
    </h2>
    <br>
    <br>
    
    <form (ngSubmit)="onformsubmit()" #regForm="ngForm">
    <table class="table table-striped table-hover">
        
    <tr>
        <td>
            <label for="inputName">Name</label>
        </td>
        <td>
            <input type="text" class="form-control" [(ngModel)]="name" name="name" id="inputName"
            required minlength="4" placeholder="Joey Tribbiani" #name_ctl="ngModel" autofocus style="width:90%;">

        </td>
        <td>
            <div *ngIf=" name_ctl.invalid && (name_ctl.dirty || name_ctl.touched)">
                <div *ngIf="name_ctl.errors.required"> Name is required. </div>
                <div *ngIf="name_ctl.errors.minlength"> Name must be at least 4 characters long. </div>
            </div>

        </td>
    </tr>

    <tr>
        <td>
            <label for="inputEmail4">Email</label>
        </td>
        <td>
            <input type="email" required class="form-control" id="inputEmail4" [(ngModel)]="email"
                            name="email" placeholder="joey@gmail.com" #email_ctl="ngModel" [email]=true style="width:90%;">

        </td>
        <td>

            <div *ngIf="email_ctl.invalid && (email_ctl.dirty || email_ctl.touched)">
                <div *ngIf="email_ctl.errors.required"> email is required. </div>
                <div *ngIf="email_ctl.errors"> Enter proper email_id. </div>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <label for="inputNumber">Contact-No:</label>
        </td>
        <td>
            <input type="number" class="form-control" id="inputNumber" [(ngModel)]="contact_no"
            name="contact" placeholder="Enter Contact Number" required #number_ctl="ngModel" pattern="[0-9]{10}" style="width:90%;"/>
        </td>
        <td>
            <div *ngIf="number_ctl.invalid && (number_ctl.dirty || number_ctl.touched)">
                <div *ngIf="number_ctl.errors.required"> Mobile number is required. </div>
                <div *ngIf="number_ctl.errors"> Enter proper Mobile-number. </div>
            </div>
        </td>
    </tr>
    </table>
    <br>
    <br>
    <br>

    <button type="submit" [disabled]="!regForm.form.valid" class="btn btn-info justify-content-center">Update Profile</button>
<br>
<br>
<a href="/password" role="button"  class="btn btn-info justify-content-center" >Change Password</a>

    </form>
    
    
    </div>



