<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="width:100%; border-radius:0px; margin-bottom:0px; height:10%;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <img src="assets/images/img1.png" class="float-left mt-sm-2 mb-sm-2" style="width:11em;  border:2px solid #17cad4; border-radius:7px; position: relative;">
        
        <ul class="navbar-nav justify-content-end"  style="position: fixed;margin-left: 75%; margin-top:0%; padding-top: 0%;">
        <li class="nav-item dropdown">
                <a class="nav-link btn btn-outline-info dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Welcome {{username}}!
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item"  href="/viewprofile">My profile</a>
                    <a class="dropdown-item"  href="/viewplan">Change Plan</a>
                    <a class="dropdown-item"  href="/feedback">Give Feedback</a>    

                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="../logout" tabindex="-1" aria-disabled="true">Logout</a>
            </li>
        </ul>
    

    </div>
</nav>

  

<!-- 
<ul class="nav nav-pills nav-stacked flex-column bg-light" style="position: fixed; height:100%;width:15%; padding-top:4%; margin-top: 3%; z-index: -2;">

<li class="nav-item" *ngFor="let p of pages">
    <a class="nav-link active" href="/editpage">{{p.name}}</a>
    {{p._id}}
    </li>
    

 <a routerLink="../viewplan" href="#">Change Plan</a>
</ul> -->
<ul class="nav flex-column bg-light" style="position:fixed; width: 15%; height:100%; padding-top: 3.9em;">
    
    <li class="nav-item text-info" >
            <a class="text-info justify-content-center" href="/loggedin"><i class="fa fa-angle-right fa-1x pr-1"></i> Home</a>

    </li>
    <li class="nav-item text-info" >
            <a class="text-info justify-content-center" href="/createpage"><i class="fa fa-angle-right fa-1x pr-1"></i> Create new page</a>
    </li>
    
    <li class="nav-item text-info" style="padding-bottom:0; margin-bottom: 0px;">
            <p class="text-info justify-content-center"><i class="fa fa-angle-right fa-1x pr-1"></i> Your pages</p>
    </li>

    <li class="nav-item text-info" *ngFor="let p of pages">
        <a class="nav-link text-info" href="/editpage/{{p._id}}"><i class="far fa-file"></i> {{p.name}}</a>
    </li>
    
</ul>
