
<app-nav></app-nav>
<div class="container container-fluid" style="position:fixed; border-radius:0px;margin-left:20%; margin-top:10%; height:auto;">

    <div class="card card-flex bg-dark" style="width:50%;">
    
    <div class="card-header" style="background-color:#2c2c33">
            <h1><font color="white" >Profile</font></h1>
      </div>
    <div class="card-body">
      <p class="list-group list-group-flush">
          <ul>
          <table border="0">
          <tr>
          <td>
          <h3 style="color:white;">      Username:{{username}}</h3>

          </td>
          <br>
          </tr>
        
        <tr>
          <br>
          <br>
        </tr>
        <tr>
        <p>
        <td> <h3 style="color:white;">    Email id:{{email}}</h3></td>
        <td> <h3 style="color:white;"></h3>
        </td>
        </tr>
        <tr>
          <br>
          
        </tr>

        <tr>
        
           <td> <h3 style="color:white;">   Contact_no:{{contact_no}}</h3>
        <td> <h3 style="color:white;"></h3>
        </td>
        </tr>
        <tr>
          <br>
          <br>
        </tr>
        <tr>
            <td>
                    <a class="btn btn-info btn-block btn-lg text-light" href="../accountsettings" role="button">
                    Edit</a>
            </td>
        </tr>


            </table>
      </ul>
    </div>
        </div>
    </div>
    
    
