
<app-nav></app-nav>
<div style="position:absolute; top:15%; left:17%; display:inline-block; right:0px;">
  <h2 class="text-info" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; opacity: 0.80;;">
      Account Details for {{username}}
  </h2>
  <br>
  <br>
  

  <table class="table table-striped table-hover">
      <tr>
      <th>
  Email ID
      </th>
      <th>Conact Number</th>
      
  </tr>
  <tr>
      <td>{{email}}</td>
      <td>
          {{contact_no}}
      </td>
      
  </tr>
  </table>
  <br>
  <br>
  <br>
  <a role="button" class="btn btn-info btn-lg text-light" href="/accountsettings">Change account details</a>
  </div>


    
