
<app-nav></app-nav>
<div class="container container-fluid" style="position:fixed; border-radius:0px; margin-top:10%;">

    <div class="card card-flex bg-dark" >
    
    <div class="card-header" style="background-color:#2c2c33">
            <h4><font color="white">Profile</font></h4>
      </div>
    <div class="card-body">
      <p class="list-group list-group-flush">
          <ul>
          <table border="0">
          <tr>
          <td>
          <p style="color:white;">      Username:</p>
          </td>
          <td>
        <p style="color:white;">{{username}}</p>
            </td>
          </tr>
        
        
        <tr>
        <p>
           <td> <p style="color:white;">    Email id:</p></td>
        <td> <p style="color:white;">{{email}}</p>
        </td>
        </tr>
        <tr>
        <p>
           <td> <p style="color:white;">   Contact_no:</p></td>
        <td> <p style="color:white;">{{contact_no}}</p>
        </td>
        </tr>
        <tr>
            <td>
                    <a class="btn btn-info btn-block btn-lg text-light" href="../accountsettings" role="button">
                    Edit</a>
            </td>
        </tr>
            </table>
      </ul>
    </div>
        </div>
    </div>
    
    
