@media (min-width: 768px) {
    .carousel-multi-item-2 .col-md-3 {
    float: left;
    width: 25%;
    max-width: 100%; } }
    
    .carousel-multi-item-2 .card img {
    border-radius: 2px; }



#editpage{
    display:inline-block;border:1px solid #dae1f0; position:absolute; height:35em;width:75%;overflow: auto;
}

a {
    cursor: pointer;
  }
  .angular-editor-textarea {
    min-height: 150px;
    overflow: auto;
    margin-top: 5px;
    resize: vertical;
  }
  .angular-editor-textarea:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 8px;
    height: 8px;
    cursor: nwse-resize;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .angular-editor-toolbar {
    font: 100 14px/15px Roboto, Arial, sans-serif;
    background-color: #f5f5f5;
    font-size: 0.8rem;
    padding: 0.2rem;
    border: 1px solid #ddd;
  }
  .angular-editor-toolbar .angular-editor-toolbar-set {
    display: inline-block;
    border-radius: 5px;
    background-color: white;
    margin-right: 5px;
    vertical-align: middle;
    border: 1px solid #ddd;
    margin-bottom: 3px;
    height: 28px;
  }
  .angular-editor-toolbar .angular-editor-toolbar-set .angular-editor-button {
    background-color: transparent;
    padding: 0.4rem;
    min-width: 2rem;
    float: left;
    border: 0 solid #ddd;
  }
  .angular-editor-toolbar .angular-editor-toolbar-set .angular-editor-button:first-child {
    border-radius: 5px 0 0 5px;
  }
  .angular-editor-toolbar .angular-editor-toolbar-set .angular-editor-button:last-child {
    border-radius: 0 5px 5px 0;
  }
  .angular-editor-toolbar .angular-editor-toolbar-set .angular-editor-button:first-child:last-child {
    border-radius: 5px;
  }
  .angular-editor-toolbar .angular-editor-toolbar-set .angular-editor-button:hover {
    cursor: pointer;
    background-color: #f1f1f1;
    transition: 0.2s ease;
    /* &:before {
     background: -moz-linear-gradient(left, #f5f5f5 100%, #ffffff 100%);
     background: -webkit-linear-gradient(left, #f5f5f5 100%, #ffffff 100%);
     background: -o-linear-gradient(left, #f5f5f5 100%, #ffffff 100%);
     background: -ms-linear-gradient(left, #f5f5f5 100%, #ffffff 100%);
     background: linear-gradient(to right, #f5f5f5 100%, #ffffff 100%);
     }*/
  }
  .angular-editor-toolbar .angular-editor-toolbar-set .angular-editor-button:focus, .angular-editor-toolbar .angular-editor-toolbar-set .angular-editor-button.focus {
    outline: 0;
  }
  .angular-editor-toolbar .angular-editor-toolbar-set .angular-editor-button:disabled {
    background-color: #f5f5f5;
    pointer-events: none;
    cursor: not-allowed;
  }
  .angular-editor-toolbar .angular-editor-toolbar-set .angular-editor-button:disabled > .color-label {
    pointer-events: none;
    cursor: not-allowed;
  }
  .angular-editor-toolbar .angular-editor-toolbar-set .angular-editor-button:disabled > .color-label.foreground :after {
    background: #555555;
  }
  .angular-editor-toolbar .angular-editor-toolbar-set .angular-editor-button:disabled > .color-label.background {
    background: #555555;
  }
  .angular-editor-toolbar .angular-editor-toolbar-set .angular-editor-button.active {
    background: #fff5b9;
  }
  .angular-editor-toolbar .angular-editor-toolbar-set .angular-editor-button.active:hover {
    background-color: #fffa98;
  }
  .angular-editor-toolbar .angular-editor-toolbar-set select {
    font-size: 11px;
    width: 90px;
    vertical-align: middle;
    background-color: transparent;
    border: 0.5px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    outline: none;
    padding: 0.4rem;
    cursor: pointer;
  }
  .angular-editor-toolbar .angular-editor-toolbar-set .select-heading {
    display: inline-block;
    width: 90px;
    height: 24px;
  }
  @supports not( -moz-appearance:none ) {
    .angular-editor-toolbar .angular-editor-toolbar-set .select-heading optgroup {
      font-size: 12px;
      background-color: #f4f4f4;
      padding: 5px;
    }
    .angular-editor-toolbar .angular-editor-toolbar-set .select-heading option {
      border: 1px solid;
      background-color: white;
    }
    .angular-editor-toolbar .angular-editor-toolbar-set .select-heading .default {
      font-size: 16px;
    }
    .angular-editor-toolbar .angular-editor-toolbar-set .select-heading .h1 {
      font-size: 24px;
    }
    .angular-editor-toolbar .angular-editor-toolbar-set .select-heading .h2 {
      font-size: 20px;
    }
    .angular-editor-toolbar .angular-editor-toolbar-set .select-heading .h3 {
      font-size: 16px;
    }
    .angular-editor-toolbar .angular-editor-toolbar-set .select-heading .h4 {
      font-size: 15px;
    }
    .angular-editor-toolbar .angular-editor-toolbar-set .select-heading .h5 {
      font-size: 14px;
    }
    .angular-editor-toolbar .angular-editor-toolbar-set .select-heading .h6 {
      font-size: 13px;
    }
    .angular-editor-toolbar .angular-editor-toolbar-set .select-heading .div {
      font-size: 12px;
    }
    .angular-editor-toolbar .angular-editor-toolbar-set .select-heading .pre {
      font-size: 12px;
    }
  }
  .angular-editor-toolbar .angular-editor-toolbar-set .select-heading:disabled {
    background-color: #f5f5f5;
    pointer-events: none;
    cursor: not-allowed;
  }
  .angular-editor-toolbar .angular-editor-toolbar-set .select-heading:hover {
    cursor: pointer;
    background-color: #f1f1f1;
    transition: 0.2s ease;
  }
  .angular-editor-toolbar .angular-editor-toolbar-set .select-font {
    display: inline-block;
    width: 90px;
    height: 24px;
  }
  @supports not( -moz-appearance:none ) {
    .angular-editor-toolbar .angular-editor-toolbar-set .select-font optgroup {
      font-size: 12px;
      background-color: #f4f4f4;
      padding: 5px;
    }
    .angular-editor-toolbar .angular-editor-toolbar-set .select-font option {
      border: 1px solid;
      background-color: white;
    }
  }
  .angular-editor-toolbar .angular-editor-toolbar-set .select-font:disabled {
    background-color: #f5f5f5;
    pointer-events: none;
    cursor: not-allowed;
  }
  .angular-editor-toolbar .angular-editor-toolbar-set .select-font:hover {
    cursor: pointer;
    background-color: #f1f1f1;
    transition: 0.2s ease;
  }
  .angular-editor-toolbar .angular-editor-toolbar-set .select-font-size {
    display: inline-block;
    width: 50px;
    height: 24px;
  }
  @supports not( -moz-appearance:none ) {
    .angular-editor-toolbar .angular-editor-toolbar-set .select-font-size optgroup {
      font-size: 12px;
      background-color: #f4f4f4;
      padding: 5px;
    }
    .angular-editor-toolbar .angular-editor-toolbar-set .select-font-size option {
      border: 1px solid;
      background-color: white;
    }
    .angular-editor-toolbar .angular-editor-toolbar-set .select-font-size .size1 {
      font-size: 10px;
    }
    .angular-editor-toolbar .angular-editor-toolbar-set .select-font-size .size2 {
      font-size: 12px;
    }
    .angular-editor-toolbar .angular-editor-toolbar-set .select-font-size .size3 {
      font-size: 14px;
    }
    .angular-editor-toolbar .angular-editor-toolbar-set .select-font-size .size4 {
      font-size: 16px;
    }
    .angular-editor-toolbar .angular-editor-toolbar-set .select-font-size .size5 {
      font-size: 18px;
    }
    .angular-editor-toolbar .angular-editor-toolbar-set .select-font-size .size6 {
      font-size: 20px;
    }
    .angular-editor-toolbar .angular-editor-toolbar-set .select-font-size .size7 {
      font-size: 22px;
    }
  }
  .angular-editor-toolbar .angular-editor-toolbar-set .select-font-size:disabled {
    background-color: #f5f5f5;
    pointer-events: none;
    cursor: not-allowed;
  }
  .angular-editor-toolbar .angular-editor-toolbar-set .select-font-size:hover {
    cursor: pointer;
    background-color: #f1f1f1;
    transition: 0.2s ease;
  }
  .angular-editor-toolbar .angular-editor-toolbar-set .select-custom-style {
    display: inline-block;
    width: 90px;
    height: 24px;
  }
  @supports not( -moz-appearance:none ) {
    .angular-editor-toolbar .angular-editor-toolbar-set .select-custom-style optgroup {
      font-size: 12px;
      background-color: #f4f4f4;
      padding: 5px;
    }
    .angular-editor-toolbar .angular-editor-toolbar-set .select-custom-style option {
      border: 1px solid;
      background-color: white;
    }
    /*.size1 {
     font-size: 10px;
     }
     .size2 {
     font-size: 12px;
     }
     .size3 {
     font-size: 14px;
     }
     .size4 {
     font-size: 16px;
     }
     .size5 {
     font-size: 18px;
     }
     .size6 {
     font-size: 20px;
     }
     .size7 {
     font-size: 22px;
     }*/
  }
  .angular-editor-toolbar .angular-editor-toolbar-set .select-custom-style:disabled {
    background-color: #f5f5f5;
    pointer-events: none;
    cursor: not-allowed;
  }
  .angular-editor-toolbar .angular-editor-toolbar-set .select-custom-style:hover {
    cursor: pointer;
    background-color: #f1f1f1;
    transition: 0.2s ease;
  }
  .angular-editor-toolbar .angular-editor-toolbar-set .color-label {
    position: relative;
    cursor: pointer;
  }
  .angular-editor-toolbar .angular-editor-toolbar-set .background {
    font-size: smaller;
    background: #1b1b1b;
    color: white;
    padding: 3px;
  }
  .angular-editor-toolbar .angular-editor-toolbar-set .foreground :after {
    position: absolute;
    content: "";
    left: -1px;
    top: auto;
    bottom: -3px;
    right: auto;
    width: 15px;
    height: 2px;
    z-index: 0;
    background: #1b1b1b;
  }
  